:root {
    --main-bg-color: #f4f4f4;
    --text-color: #333;
    --main-color: rgb(240, 96, 18);
    --secondary-color: #000041;
    --button-hover-color: #000041;
    --delete-button-color: #dc3545;
    --edit-button-color: #ffc107;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    width: 400px;
}

h1 {
    text-align: center;
    color: var(--main-color);
}

input {
    width: calc(100%);
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: small;
    font-weight: 500;
}

.delete-btn:hover {
    background-color: #e25e6b;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    max-height: 300px;
    overflow-y: scroll;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.url-item {
    flex-grow: 1;
}

.url-actions {
    margin-left: 10px;
}

li p {
    text-decoration: none;
    font-weight: 800;
    color: var(--main-color);
    cursor: pointer;
}

li p:hover {
    text-decoration: underline;
}

.delete-btn,
.edit-btn {
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
    max-width: fit-content;
    border: none;
    border-radius: 3px;
}

.delete-btn {
    background-color: var(--delete-button-color);
    color: #fff;
}

.edit-btn {
    background-color: var(--edit-button-color);
    color: var(--secondary-color);
}

.edit-btn:hover {
    background-color: #f3d16a;
}